.col_1, .col_2, .col_3 {
	width: 33%;
	float: left;
}

table {
	border: 5px solid gray;
}

th {
	border: 1px solid black;
}

td {
	border: 1px solid blue;
}

h3 {
	text-align: center;
}

#CIS p, #CIS td {
	color: blue;
}

#CIS h3 {
	background-color: gray;
}

#courses h3 {
	background-color: green;
	margin: 0 10px;
}

#courses li {
	font-family: Helvetica, Arial, sans-serif;
}

.imp {
	color: red;
}